



@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Flavors&family=Henny+Penny&family=Jolly+Lodger&family=Nosifer&display=swap');
/************ color palette **********
2A4454 charcoal
712C0D Seal Brown
292a2c Jet
9facac Ash Gray
13120F Night
EbaD67 earth yellow
********** end color palette **********/



body{
    background-image: linear-gradient( #712C0D , #13120F);
    height: 100vh;
}

*{
    box-sizing: border-box;
    /*box model fix*/
    margin: 0;
    border: 0;
    padding: 0;
}
.logo{
    color:#782a06;
    margin: 0;
    font-size: 2em;
    font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;

}
ul{
    list-style: none;
}
a{
    color:white;
    text-decoration: none;
}
.main-nav{
    margin-top: 5px;
}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color:#EBAD67;
    font-size: .99em;
}

.main-nav a:hover{
    color: #2a4454;
}

.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #13120f;
    background-color:#712C0D;
    box-shadow: 0px 0px 14px 0px rgb(0,0,0,0.75);
    border-radius: 5px;
}

/*------ Responsive images ------*/

img {
    width:100%;
}

/*------ Tablet media Query ------*/
@media screen and (min-width:769px) {
.header,
.main-nav{
    display: flex;
}
.header{
    flex-direction: column;
    align-items: center;
    .header{
        width:80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}
}
/*------ End of tablet media query ------*/


/*------ Desktop media query ------*/
@media screen and (min-width: 1025px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
}
/*------ End desktop media query ------*/

/*------ Large display media query ------*/
@media screen and (min-width: 1850px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
}
/*------ End Large display media query ------*/